# Importing libraries

In [2]:
import pandas as pd
import numpy as np
from collections import OrderedDict

# Import keyword file

All sheets can be directly read into an ordered dictionary in 1 step

In [3]:
df_kwds = pd.read_excel('LVC-Keyword research.xlsx', sheet_name='KeywordSelection')

In [4]:
df_dest = pd.read_excel('LVC-Keyword research.xlsx', sheet_name='destinations')
df_dest

       Destination name
0         North America
1             Caribbean
2                 Aruba
3              Barbados
4    Dominican Republic
..                  ...
111        Bahia Maimon
112              Bavaro
113           La Romana
114       Marsh Harbour
115         George Town

[116 rows x 1 columns]

In [5]:
df_gen = pd.read_excel('LVC-Keyword research.xlsx', sheet_name='generics')
df_gen

               Generics
0                5 star
1           adults only
2         all inclusive
3                 april
4                august
5                 beach
6                 cheap
7             christmas
8           city breaks
9              clubbing
10              couples
11             december
12               easter
13               family
14             february
15           full board
16                  gay
17  girls weekends away
18                group
19           half board
20            half term
21          hen weekend
22            honeymoon
23              january
24                 july
25                 june
26       kids stay free
27                 lads
28          last minute
29          low deposit
30               luxury
31                march
32             november
33              october
34        self catering
35            september
36        single parent
37                 solo
38        stag weekends
39              student
40               summer
41       valentines day
42           winter sun

In [6]:
df_gen['gen_lower']= list(map(lambda x: x.lower(), df_gen['Generics']))

In [7]:
df_gen

               Generics            gen_lower
0                5 star               5 star
1           adults only          adults only
2         all inclusive        all inclusive
3                 april                april
4                august               august
5                 beach                beach
6                 cheap                cheap
7             christmas            christmas
8           city breaks          city breaks
9              clubbing             clubbing
10              couples              couples
11             december             december
12               easter               easter
13               family               family
14             february             february
15           full board           full board
16                  gay                  gay
17  girls weekends away  girls weekends away
18                group                group
19           half board           half board
20            half term            half term
21          hen weekend          hen weekend
22            honeymoon            honeymoon
23              january              january
24                 july                 july
25                 june                 june
26       kids stay free       kids stay free
27                 lads                 lads
28          last minute          last minute
29          low deposit          low deposit
30               luxury               luxury
31                march                march
32             november             november
33              october              october
34        self catering        self catering
35            september            september
36        single parent        single parent
37                 solo                 solo
38        stag weekends        stag weekends
39              student              student
40               summer               summer
41       valentines day       valentines day
42           winter sun           winter sun

In [8]:
df_dest['dest_lower'] = list(map(lambda x:x.lower(),df_dest['Destination name']))

In [9]:
df_dest

       Destination name          dest_lower
0         North America       north america
1             Caribbean           caribbean
2                 Aruba               aruba
3              Barbados            barbados
4    Dominican Republic  dominican republic
..                  ...                 ...
111        Bahia Maimon        bahia maimon
112              Bavaro              bavaro
113           La Romana           la romana
114       Marsh Harbour       marsh harbour
115         George Town         george town

[116 rows x 2 columns]

In [10]:
df_kwds['keyword'] = list(map(lambda x: x.lower(),df_kwds['Keyword']))

In [11]:
df_kwds

,Keyword,Keyword Intent,Avg Search Volume,keyword
0,to go vacations,['information'],301000,to go vacations
1,vacations to go,['navigational'],301000,vacations to go
2,vacationsto go,['information'],301000,vacationsto go
3,all inclusive resorts,['information'],201000,all inclusive resorts
4,vacation,['information'],165000,vacation
...,...,...,...,...
5891,windjammers resort,['transactional'],590,windjammers resort
5892,xcaret cancun resort,['transactional'],590,xcaret cancun resort
5893,xcaret occidental resort,['information'],590,xcaret occidental resort
5894,xcaret resort cancun,['navigational'],590,xcaret resort cancun
5895,xcaret resort in cancun,['transactional'],590,xcaret resort in cancun

In [40]:
def test(x):
    dest_list = str(list(df_dest['dest_lower']))
    for word in x:
        for d in dest_list:
            if dest_list in word:
                return dest_list
        else:
            pass
    return 0

In [41]:
df_kwds['destination_lable'] = test(df_kwds['keyword'])

In [42]:
df_kwds

,Keyword,Keyword Intent,Avg Search Volume,keyword,destination_lable
0,to go vacations,['information'],301000,to go vacations,0
1,vacations to go,['navigational'],301000,vacations to go,0
2,vacationsto go,['information'],301000,vacationsto go,0
3,all inclusive resorts,['information'],201000,all inclusive resorts,0
4,vacation,['information'],165000,vacation,0
...,...,...,...,...,...
5891,windjammers resort,['transactional'],590,windjammers resort,0
5892,xcaret cancun resort,['transactional'],590,xcaret cancun resort,0
5893,xcaret occidental resort,['information'],590,xcaret occidental resort,0
5894,xcaret resort cancun,['navigational'],590,xcaret resort cancun,0
5895,xcaret resort in cancun,['transactional'],590,xcaret resort in cancun,0