# Importing libraries

In [12]:
import pandas as pd
import numpy as np
from collections import OrderedDict

# Import keyword file

All sheets can be directly read into an ordered dictionary in 1 step

In [47]:
df_kwds = pd.read_excel('LVC-Keyword research.xlsx', sheet_name='KeywordSelection')

In [60]:
df_dest = pd.read_excel('LVC-Keyword research.xlsx', sheet_name='destinations')

In [61]:
df_gen = pd.read_excel('LVC-Keyword research.xlsx', sheet_name='generics')

In [62]:
df_kwds

                       Keyword     Keyword Intent  Avg Search Volume
0              to go vacations    ['information']             301000
1              vacations to go   ['navigational']             301000
2               vacationsto go    ['information']             301000
3        all inclusive resorts    ['information']             201000
4                     vacation    ['information']             165000
...                        ...                ...                ...
5891        windjammers resort  ['transactional']                590
5892      xcaret cancun resort  ['transactional']                590
5893  xcaret occidental resort    ['information']                590
5894      xcaret resort cancun   ['navigational']                590
5895   xcaret resort in cancun  ['transactional']                590

[5896 rows x 3 columns]

In [63]:
df_dest

       Destination name
0         North America
1             Caribbean
2                 Aruba
3              Barbados
4    Dominican Republic
..                  ...
111        Bahia Maimon
112              Bavaro
113           La Romana
114       Marsh Harbour
115         George Town

[116 rows x 1 columns]

In [67]:
kwd_list = df_kwds['Keyword'].values.tolist()

In [74]:
kwd_list_test = kwd_list[0:10]

In [79]:
kwd_list_test

['to go vacations',
 'vacations to go',
 'vacationsto go',
 'all inclusive resorts',
 'vacation',
 'vacations',
 'all inclusive vac',
 'all inclusive vacations',
 'vacation packages',
 'hawaii vacation']

In [69]:
des_list = df_dest.values.tolist()

In [76]:
des_list_test = des_list[0:15]

In [77]:
des_list_test

[['North America'],
 ['Caribbean'],
 ['Aruba'],
 ['Barbados'],
 ['Dominican Republic'],
 ['The Bahamas'],
 ['Mexico'],
 ['Jamaica'],
 ['Turkey'],
 ['USA'],
 ['Hawaii'],
 ['Los Cabos'],
 ['Aegean Coast'],
 ['Baja California Sur'],
 ['Bimini']]

In [78]:
for k in kwd_list_test:
    print(k)

to go vacations
vacations to go
vacationsto go
all inclusive resorts
vacation
vacations
all inclusive vac
all inclusive vacations
vacation packages
hawaii vacation